<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../css/main.css">
</head>
<body>
    <h1>
        {{ .title }}
    </h1>

    <form action="/" method="post">
        <input type="text" id="search" name="search" placeholder="search">
        <select name="category">
            {{ if .selected }}
                <option value="{{ .selected }}" selected="selected">{{ .selected }}</option>
            {{ end }}
            {{ range .categories }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
        <button type="submit">Search</button>
    </form>

    {{ range .links }}
    <div>
        <a href="{{ . }}"><p>{{ . }}</p></a>
    </div>
    {{ end }}
</body>
</html>