<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar">
        <h1>
            {{ .title }}
        </h1>
        <form action="/" method="post">
            <input type="text" id="search" name="search" placeholder="search">
            <div class="select-div">
                <select name="category">
                    {{ if .selected }}
                        <option value="{{ .selected }}" selected="selected">{{ .selected }}</option>
                    {{ end }}
                    {{ range .categories }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
            </div>
            <button type="submit" class="form-button">Search</button>
        </form>
    </div>
    <div class="divider"></div>

    <div class="section">
        <ul class="posts">
        {{ range .links }}
            {{ if .PostLink }}
            <li class="post image">
                <a href="{{ .PostLink }}">
                    <div class="thumb" style="
                        {{ if .HasImage }}
                        background-image: url({{ .DataIds }})
                        {{ else }}
                        background-image: url(/img/Craigslist-logotyp.jpg)
                        {{ end }}
                    " onclick="window.location = {{ .PostLink }}">
                    <span class="outline">{{ .Title }} - {{ .Price }} - {{ .Region }}</span>
                </a>
            </li>
            <br/>
            {{ end }}
        {{ end }}
        </ul>
    </div>
</body>
</html>